body {
    background-color: #dbdcde;
}
p {
    text-indent: 2em;
}

.sidebar-about-me {
	margin-top:20%;
    background-color: #fffffa;
    border-radius: 5px;
    padding: 10px;
}
.sidebar-tags {
    margin-top: 10px;
    background-color: #fffffa;
    border-radius: 5px;
    padding: 10px;
}
.sidebar-archives {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fffffa;
    padding: 10px;
}
.blog-footer {
    margin-top: 1px;
    padding: 10px 0;
    color: #999;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.blog-post {
    background-color: #fffffa;
    border-radius: 5px;
    margin-bottom:20px;
    padding: 20px 20px;
    overflow-y: scroll;
}

article img{
    width: 100%;
}
