body {
    margin-top: 50px;
    background-color: #dbdcde;
}
.col-md-2 {
    margin-left: 50px;
    margin-top: 55px;
    background-color: #edeef3;
    border-radius: 5px;
    list-style: none;
}
.col-md-9 {
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.col-md-6 {
    height: 720px;
}

.main-footer {
    margin: 20px auto;
}

.blog-footer {
    margin-top: 15px;
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

#editor {
    position: absolute;
    margin-top: 35px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
}

#preview {
    height: 685px;
    background-color: snow;
    overflow-y: scroll;
}
