<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moguichun.blog.dao.TagDetailDao">

	<resultMap type="TagDetailVo" id="TagDetailVoMap">
		<id property="tagId" column="tagId" />
		<result property="tagName" column="tagName"/>
		<result property="postCountOfTag" column="postCountOfTag"/>
		<collection property="postsOfTag" ofType="Post" column="tagId" select="findPostsOfTag"></collection>
	</resultMap>

	<select id="getAllTagDetail" resultMap="TagDetailVoMap">
		SELECT tag.id tagId, tag_name, COUNT(tag.id) postCountOfTag FROM tag, post_tag WHERE tag.id = post_tag.tag_id GROUP BY tag.id
	</select>
	
	<select id="findPostsOfTag" parameterType="Integer" resultType="Post">
		SELECT post.id, title, content FROM post, post_tag WHERE post.id = post_tag.post_id AND post_tag.tag_id = #{tagId}
	</select>
	
</mapper>