<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../static/css/post.css">
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>
				Quison's Blog <small>驽马十驾，功在不舍。。。</small>
			</h1>
		</div>
	
		<div class="row">
			<div class="col-md-9 post-main">
				<div class="post-info">
					内容
				</div>
			</div>
			<div class="col-md-3 post-sider">
				<div class="catalog">
					<nav class="bs-docs-sidebar">
						<ul class="nav bs-docs-sidenav">
							<li>目录1</li>
							<li>目录1</li>
							<li>目录1</li>
						</ul>
					</nav>
			</div>
		</div>
	</div>

	<footer class="blog-footer">
		<p>Blog build by moguichun</p>
	</footer>
</body>
</html>